h1{
    margin-top: 150px;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top{
    background-image: url(../images/istockphoto-1187662232-170667a.jpg);
    background-size: cover;
    height: 75vh;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large; 
    margin: auto; 
    
}

.btn {
    color: #0f1419;
    border: 1px solid #cfd9de;
    background: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
}