.nav {
  display: flex;
  align-items: center;
  justify-items: space-between;
  position: relative;
}
.logo {
  color: #e84142;
}
.button {
  display: flex;
  align-items: center;
  justify-items: space-between;
}
